.wrapper{
  margin-top: 650px;
}


.top-header{
position: fixed;
 width: 100%;
 height: 135px;
  background: rgba(219, 43, 48, 0.8);
}
.top-header-content{
  background: darkorange;
  display: flex;
  justify-content: flex-start;
  align-items: center;
 
}
/* .header-logo{
  display: flex;
  align-items: center;
  font-family: 'Dancing Script' ,cursive;
  font-size: 15px;
} */
.header-pragraph{

}


/* //////////////////////////////////////////////////////////////////////// */

*{
   /* background: darkgreen; 
  margin:  0px;
  padding: 0px;
  box-sizing:  border-box;
  font-family: sans-serif;
  color: rgb(43, 16, 16); */
}
body{
  height:  100vh;
  display: flex;
  justify-content: center;
  align-items:     center;
  background:    white;
}

/* ///////////////////////////////////////////////////////////////////////////// */
.container{
  margin-top: 250px;
  width:   90vw;
  padding: 10px 35px;
  background:   whitesmoke;
  display:        flex;
  flex-direction: column;
  border:  35px  solid black;
  border-radius: 5px;
  /* box-shadow: 0px 0px 20px rgba(0,0,0,0.3); */
}
/* /////////////////////////////////////////////////////////////////////////// */
/* .header{
  flex-basis: 10%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.navmenu ul{
  display: flex;
}
.navmenu ul li{
  list-style: none;
  margin :0px 10px;
}
.navmenu ul li a {
  text-decoration: none;
  font-size: 13px;
  padding: 5px;
  letter-spacing: 1.5px;
  cursor: pointer;
  
}
.navmenu ul li a:hover , .active {
background: white;
border :1px solid black;
border-radius: 4px;
} */
/* //////////////////////////////////////////////////////////// */
.content-image{
  /* background: violet; */
  display: flex;
  justify-content: center;
  
}
.content-image .main-image{
  height: 500px;
  width: 100%;
  border-radius: 15px;
  background-image: url('hotel_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
/* ////////////////////////////////////////////////////// */

.middle-box{
  margin-top: -100px;
  /* margin-bottom: 30px; */
  /* background:rgba(86, 133, 72, 0.8); */
  height: 150px;
  width: 100%;
  
  /* border: 5px solid rgba(219, 43, 48, 0.8); */
  display: flex;
  justify-content: center; 
  align-items: center;
}
.middle-box-inside{
  background-color: #fff;
  border-radius: 15px;
  width: 90%;
  height: 150px;
  display: flex;
}
/* --------------------------------------------------------- */
.middle-box-inside > div{
  width: 34%;
  height: 150px;
  border: 2px solid #ddd;
}

.left-box{
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;
  
  
}
.left-box h3{
  width: 70%; 
 
  
}
/* ------------------------------------------------------------ */
.middle-box{
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.middle-box h3{
  align-self: flex-end; 
}
.text-color3{
  
  color: rgb(102, 188, 238);
  font-size: 10px;
  width: 100%;
  
}
.text-color{
  border:3px gray;
  
 
}

/* -------------------------------------------------------------- */
.right-box{
  align-self: flex-end;
}
/* --------------------------------------------------------- */
.middle-box img{
  border-radius: 15px;
  width: 35px;
  height: 35px;
  margin: 10px;
}
/* ////////////////////////////////////////////////////// */
.footer-title{
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px; 
}
.box-area{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.single-box{
  position: relative;
  width: 28%;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  text-align: left;
  padding: 5px;
  margin: 20px;
  color: red;
  transition: 0.3s;
}
.img-area{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  /* border: 6px solid rgb(228, 163, 78); */
  /* border-radius: 10%; */
  margin-bottom: 10px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.img-area img{
  height: 130px;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.topleft{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 70px;
  padding-top: 30px;
  font-size: 40px;
  width: 100%;
}
.topleft p{
 font-size: 13px; 
 width: 40%;
}
.topleft h3{
   color: rgb(58, 104, 31);
   font-size: 23px; 
   width: 40%;
}

.buttom-box{
  width: 100%;
  height: 150px;
  margin-top: -90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E5F4F8;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  z-index: 4;
}
.box-row{
  z-index: 5;
  width: 100%;
  text-align: center;
}
.img-text{
  margin-top: 40px;
}
.text-color{
  color: red;
}
.text-color2{
  margin-top: 10px;
  color: orange;
  font-size: 10px;
}





































/* body{
  margin: 0;
  padding: 0;
}
.flex-container {
display: flex;
background-color: rgb(182, 197, 212);
flex-direction: space-around;
justify-content: center;
}
.flex-container > div {
background-color: red;
border: 3px solid #000;
box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
width: 100%;
margin: 25px;
padding: 50px;
font-size: 30px;
}

.row0 > div{
margin: 25px 30px 0 30px;
} */

/* **************** */
/* .row1 > div{
width: 27%;
margin: 25px 30px 0 30px;
}

.row1 > div:nth-child(1){
background-color:  yellow;
} 
.row1 > div:nth-child(2){
  background-color:  blue;
}
.row1 > div:nth-child(3){
  background-color:  green;
} */
/* **************** */

/* .row2 > div {
background-color: #f1f1f1;
text-align: center;
line-height: 75px;
width: 52%;
margin: 25px 30px;
}
.row2 > div:nth-child(1){
background-color:  pink;
} 
.row2 > div:nth-child(2){
background-color:  pink;
} */
/* **************** */
/* .row3 {
  display: block;
}
.row3 > div {
  margin: 0 25px;
  width: 20%;
}
.row3 > div:nth-child(2) {
margin-left: 37%;
}
.row3 > div:nth-child(3) {
margin-left: 71%;
} */



/* **************** */
/* .row4 > div , .row5 > div {
background-color: black;
width: 30%;
text-align: center;
line-height: 75px;
margin-bottom: 0;
} */